doctype html
html(lang="ja")
  head
    include partials/_variables
    include partials/_meta
    
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/sp/main.css")
    
  body
    include partials/_ua
    +ua("App")
    
    div.wrapper
      //- h1 Pentrix
      
      div.container
        canvas#canvas(width="375" height="750")
        canvas#nextBlock(width="100" height="100")
        div.info-display
          p.clear-line-display
            | Clear Lines: 
            span#clearLine 0
          p.score-display
            | Score: 
            span#score 0
    
    script(src="./js/script.js")
    
