extends layout/_default

prepend ConfigBlock
  - page_name = ''

block ContentBlock
  div.container
    h1.title= title
    canvas#game-canvas(width="375" height="750")
    canvas#next-canvas(width="100" height="100")
    div.info-display
      p.clear-line-display
        | Clear Lines: 
        span#clearLine 0
      p.score-display
        | Score: 
        span#score 0
